<main id="active-customers" class="grid min-h-full">

  <mat-card class="form-card bg-white p-3 mb-2">
    <mat-card-header class="p-0 mb-2">
      <mat-card-title>Active Customer List</mat-card-title>
    </mat-card-header>

    <puro-customer-form (customerList)="receiveData($event)"></puro-customer-form>
  </mat-card>


  @if (customerList$ | async; as customerList) {
    <mat-card class="form-card bg-white p-3">
      <mat-card-content class="p-0">
        <div class="flex mb-4"><button mat-raised-button color="primary"
            (click)="onDisableConfirm(dataTable.selection.selected)" [disabled]="!dataTable.selection.hasValue()">Disable
            Selected Clients</button></div>

        <puro-data-table #dataTable [displayedColumns]="columns" [columnLabels]="columnLabels" [data]="customerList" [actions]="actions" 
          [isCheckbox]="true" [viewdetails]="viewdetails" [isActions]="true" [isDetails]="true" [isSortingEnabled]="true" [isSearchEnabled]="true" (viewClicked)="openDialog($event)">
        </puro-data-table>

      </mat-card-content>
    </mat-card>
  }
</main>